@model             Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Category Information</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert" style="display:none;"></div>
            <input type="hidden" asp-for="CategoryId" />

            <div class="mb-3">
                <label asp-for="@Model.CategoryName" class="form-label fw-bold"></label>
                <input asp-for="@Model.CategoryName" class="form-control" />
                <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.CategoryDesciption" class="form-label fw-bold"></label>
                <input asp-for="@Model.CategoryDesciption" class="form-control" />
                <span asp-validation-for="@Model.CategoryDesciption" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.ParentCategory" class="form-label fw-bold"></label>
                <select asp-for="@Model.ParentCategoryId" class="form-select" asp-items="ViewBag.ParentCategoryId"></select>
                <span asp-validation-for="@Model.ParentCategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.IsActive" class="form-label fw-bold"></label>
                <input asp-for="@Model.IsActive" hidden/>
                <div readonly>
                    <span class="badge @((bool)Model.IsActive ? "bg-success" : "bg-danger")">
                        @((bool)Model.IsActive ? "Active" : "Inactive")
                    </span>
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
